<!doctype html>
<html lang="en">

<head>
    <title>
        <%= pageTitle %>
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel ="stylesheet" href="/css/main.css">
    <link rel ="stylesheet" href="/css/global.css">
</head>

<body>
    <% include partials/navbar.ejs %>
    <div class = "container-fluid">
        <div class = "row" id = "forum-banner">

        </div>
    </div>
    <div class = "container-fluid">
        <div class = "row d-flex justify-content-between">
            <div class = "col-4">
                <form action ="" method ="POST" id = "forum-post">
                <div class="form-group">
                    <label for="forum-name">Name:</label>
                    <input type="text" class="form-control" id="usersname" name = "name">
                </div>
                <div class="form-group">
                    <label for="forum-title">Title:</label>
                    <input type="text" class="form-control" id="userstitle" name = "title">
                </div>
                <div class="form-group">
                        <label for="forum-message">Message:</label>
                        <textarea type="text" class="form-control" id="usersmessage" rows= "6" name ="msg"> </textarea>
                </div>

                <button type="submit" class="btn btn-primary" id = "submit-button">Submit</button>
                </form>
            </div>
            <div id = "feedback-container" class = "col-6 d-flex flex-column mr-5">
                    Feedback
                    <div id = "feedback-container-message" class = "d-flex flex-column justify-content-between" style = "border-radius:10px;max-width:100%">
                    </div>
            </div>
        </div>
    </div>
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src = "/js/forum.js"></script>

</body>

</html>