@font-face {
    font-family: 'Flama-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Flama-Medium'), url('Flama-Medium.woff') format('woff');
}

body{
    width:100vw;
    height:auto;
    font-family: "Flama-Medium", sans-serif;
}


.navbar-brand img{
    height:5vh;
}