main{
    height:93%;
}

#homemain{
    height:93%;
    background: url("../images/backgrounds/nba_logo_background.png");
    background-repeat: no-repeat;
    background-size:cover;
}

#homeMainText{
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(37, 37, 37, 0.5);
    border-radius: 15px;
    font-size:50pt
}